@import 'theme.scss';
@import 'variables.scss';
@import 'bootstrap/scss/bootstrap.scss';

$border-light: solid rgba(0, 0, 0, .12) 1px;
$width: 700px;

html, body {
    min-height: 100vh;
}

.highlight > pre {
    padding: 1.5rem;
}

.navbar {
    border-top: solid $primary 4px;
    border-bottom: $border-light;
}

.artisan-profile-container {
    border-left: $border-light;
    border-right: $border-light;
    max-width: $width;

    &--delimit {
        border: $border-light;
    }
}

.artisan-profile {
    background-image: url('../assets/background.png');
    padding-left: 0;
    padding-right: 0;
}

.artisan-profile-banner {
    display: block;

    &:hover, &:visited, &:active {
        text-decoration: none;
    }

    &__avatar {
        width: 128px;
        height: 128px;
        
        border: solid $primary 4px;
        border-radius: 100%;
    }
}

.artisan-content {
    padding-left: 0;
    padding-right: 0;
}

.artisan-page {
    max-width: $width;
    margin: 0 auto;
}

.artisan-article {
    background: white;
    border: $border-light;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-sm;
    max-width: $width;
    margin: 1em auto;

    &__seealso {
        text-decoration: none;

        &:hover, &:active, &:visited, &:focus {
            text-decoration: none;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.artisan-link {
    color: inherit;

    &:hover, &:active, &:visited, &:focus {
        color: inherit;
    }

    &:hover {
        text-decoration: underline;
    }
}

.artisan-footer {
    background-color: #F5F5F5;
    border-top: $border-light;

    &__link {
        color: inherit;

        &:hover, &:active, &:visited, &:focus {
            color: inherit;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
